body{
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 8%;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}
.header{
    grid-area: header;

    background-color: #2096f2;
    display: flex;
    align-items: center;
}
.title{

    color: #fff;
    font-size: 52px;
    margin-left: 6%;
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wlc{
    flex : 1;
    background-color: #cfd8dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
    
}
#p1{
    font-size: 35px
}
#p2{
    font-size: 25px
}
#icon{
    
    height:150px;
    width:150px;
    border-width: 2px;
    border-radius: 150px;
    border-color: #ffffff;
    background-color: white;
}
.lgn{
    flex : 2; 
    height: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
#signin {
    background: #2096f2;
    font-size: 4vw;
    text-align: center;
    margin-top: 5%;
    padding: 2vh;
    margin-bottom: 10px;
    color: #cae5fb;
    border-radius: 4px;
}
.form-text {
    flex : 3;
    width: 90% ;
    
}
.form-btn{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 90%;
    flex: 1;
}
.credits{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 3vw;
    margin : 100px auto 0;
    padding : 4%;
    border-radius: 4    px;
    background-color: #f1f5f7;
    border: none;
    width: 90%;
}
.footer{
    grid-area: footer;
    background-color: #2096f2;
    display: flex;
    align-items: center;
}
.title2{

    color: #fff;
    font-size: 35px;
    margin-left: 6%;
}